{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
